@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
  background-color: #232931;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.knob-input__container {
  width: 10%;
  height: 10%;
}
